.footer{
    background: #202020;
    color: rgb(235, 233, 233);
    font-size: 14px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer a{
    color: rgb(235, 233, 233);
    text-decoration: none;
}
.footer p{
    text-align: center;
    padding: 0 20px;
}
.contact{
    cursor: pointer;
}

/* contact-Modal */
.contact-form-container{
    padding-top: 30px;
}

.contact-form-container form div{
    margin-bottom: 20px;
    display: block;
    font-size: 18px;
    color: var(--student-font-color);
    font-weight: 500;
}

.custom-modal{
    max-width: 540px;
    margin: 0 20px;
}

.contact-form-container form input{
    height: 64px;
    border:1px solid #ECECEC ;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Inter';
    background: #fafafa;
    margin-bottom: 10px;
}

.contact-form-container form .send{
    background: var(--student-button-theme);
    color: #fff;
    width: 100%;
    border-radius: 80px;
    font-size: 25px;
    font-weight: 700;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form-container form .send:hover{
    background-color: var(--student-button-theme) !important;
}

.teachers.contact-form-container form .send{
    background: var(--teacher-button-theme);
}
.teachers.contact-form-container form .send:hover{
    background-color: var(--teacher-button-theme) !important;
}