:root {
  --student-bg-theme:#3ba2da;
  --student-button-theme:#ee5e20;
  --student-font-color:#030337;

  --teacher-bg-theme:#dd4f44;
  --teacher-button-theme:#852d70;

}

html,body{
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
}

.desktop-view{
  max-width: 1200px;
  margin: 0 auto;
}

.pad-view{
  max-width: 640px;
  margin: 0 auto;
}

.mobile-view{
  max-width: 375px;
  margin: 0 auto;
}

.custom-antd-design-button-student{
  background-color: var(--student-button-theme);
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-antd-design-button-student:hover{
  background-color: var(--student-button-theme) !important;
  opacity: 0.8;
}