.main-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.section-1{
  width: 100%;
  margin: 50px 0;
  color: #455a64;
  font-family: 'Inter';
  display: flex;
  justify-content: space-between;
}

.section-1 h2{
  font-size: 35px;
  line-height: 45px;
  margin: 0;
  color: #455a64;
}

.section-1 h1{
  font-size: 40px;
  color: #455a64;;
  font-weight: 700;
  margin: 80px 0 50px;
}

.section-1 h1 strong{
  color: var(--student-button-theme);
  font-weight: 700;
}

.free-for-student{
  font-size: 20px;
  margin-bottom: 20px;
}

.free-for-student strong{
  font-weight: 600;
}

.sign-up-now{
  font-size: 20px;
  font-weight: 700;
  width: 420px;
  height: 55px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.download-quicktakes-today{
  margin: 0 0 20px;
  font-size: 16px;
}

.section-1-r img{
  display: block;
  width: 100%;
}