.content{
  padding: 0 var(--global-padding);
}
.about-us-image{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.about-us-image img{
  width: 130px;
  height: 130px;
}
.about-us-title{
  font-size: 30px;
  font-weight: bold;
  color: rgba(69.00000348687172, 90.00000223517418, 100.00000163912773, 1);
  text-align: center;
  margin-top: 30px;
}
.about-us-title span{
  color: rgba(238, 94, 32, 1);
}
.auout-us-content{
  font-size: 16px;
  margin-top: 24px;
  line-height: 22px;
  color: rgba(3.2229186594486237, 3.2229186594486237, 55.25000050663948, 1);
}
.founding-team{
  background-image: linear-gradient(
    to right,
    rgba(255, 241, 234, 1),
    rgba(255, 241, 234, 1)
  );
  margin-top: 60px;
}
.founding-team .content{
  padding: 50px 30px;
}
.founding-title{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: rgba(46.692456901073456, 114.93414267897606, 211.43749594688416, 1);
}
.founding-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 50px;
  flex-wrap: wrap;
}
.founding-box{
  width: 280px;
  text-align: center;
}
.founding-box .photo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.founding-box .photo img{
  width: 164px;
  height: 164px;
}
.founding-box .name{
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
}
.founding-box .title{
  font-size: 18px;
  font-weight: bold;
  color: rgba(46.692456901073456, 114.93414267897606, 211.43749594688416, 1);
  margin-top: 10px;
}
.founding-box .description{
  font-size: 18px;
  margin-top: 20px;
  font-weight: 400;
  line-height: 20px;
}

.experiences .content{
  padding: 60px var(--global-padding);
}
.experience-title{
  font-size: 36px;
  color: rgba(32.00000189244747, 111.00000098347664, 222.00000196695328, 1);
  text-align: center;
  font-weight: bold;
  display: block;
}

.experience-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}