.title{
  color: var(--student-button-theme);
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  padding-top: 40px;
}
.FAQ-list{
  margin: 40px 0 60px;
  padding: 0 var(--global-padding);
}
.FAQ-content p{
  margin:0
}