.header{
  background: var(--student-bg-theme);
  color: #fff;
}
.title{
  color: #fff;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  padding-top: 40px;
  margin-bottom: 56px;
}
.content{
  padding: 0 var(--global-padding) 80px;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
}
.email{
  color: var(--student-button-theme);
}

.FAQ-list{
  padding: 56px 0 80px;
  background: var(--student-bg);
}
.FAQ-center-container{
  max-width: 1440px;
  padding: 0 180px;
  box-sizing: border-box;
  margin: 0 auto;
}
.FAQ-content p{
  margin:0
}

@media (max-width: 1023px) {
  .title{
    font-size: 36px;
    margin-bottom: 24px;
  }
  .content{
    font-size: 20px;
    padding-bottom: 40px;
  }
  .FAQ-list{
    padding: 36px var(--global-padding) 56px;
  }
  .FAQ-center-container{
    padding:0 20px;
  }
}