:root {
  --student-bg-theme:#1C2437;
  --student-button-theme:#3FB2FF;
  --student-font-color:#181A20;
  --student-arrow-color: #2f73d3;
  --student-bg:#262E40;

  --teacher-bg-theme:#dd4f44;
  --teacher-button-theme:#852d70;

  --mobile-max-width:480px;
  --pad-min-width:481px;
  --pad-max-width:768px;

  --global-padding:120px;
  --header-footer-padding:80px;

  --max-screen-width:1440px;
  --max-text-width:1000px;
}

/* responsive */
@media (max-width: 1023px){
  :root{
    --global-padding:24px;
    --header-footer-padding:24px;
  }
}

@font-face {
  font-family:"Helvetica Neue";
  src: url("../font/Helveticaneue.ttf");
}

html,body{
  margin: 0;
  font-family: "Helvetica Neue","Roboto", "Arial", sans-serif;
}

.desktop-view{
  max-width: 1440px;
  margin: 0 auto;
}

.pad-view{
  max-width: 768px;
  margin: 0 auto;
}

.mobile-view{
  max-width: 480px;
  margin: 0 auto;
}

.custom-antd-design-button-student{
  background-color: var(--student-button-theme);
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-antd-design-button-student:hover{
  background-color: var(--student-button-theme) !important;
  opacity: 0.8;
}

/* antd */
.FAQ-global .ant-collapse{
  border: none;
  border-radius: 0;
}
.FAQ-global .ant-collapse .ant-collapse-item .ant-collapse-header{
  background: var(--student-bg);
  padding: 12px 8px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  font-family: "Helvetica Neue","Roboto", "Arial", sans-serif
}
.FAQ-global .ant-collapse .ant-collapse-item .ant-collapse-content-box{
  /* background-image: linear-gradient(to right, rgba(216, 216, 216, 0.3), rgba(216, 216, 216, 0.3)); */
  background: var(--student-bg);
  color: #fff;
  padding: 8px 8px 24px;
  font-size: 16px;
  font-family: "Helvetica Neue","Roboto", "Arial", sans-serif
}
.FAQ-global .ant-collapse-expand-icon img{
  width: 24px;
  height: 24px;
  transform:rotate(0deg);
  transition: transform 0.3s;
}
.FAQ-global .ant-collapse .ant-collapse-item .ant-collapse-item-active .ant-collapse-expand-icon{
  padding-inline-start: 0;
  padding-inline-end: 12px;
}
.FAQ-global .ant-collapse-item-active .ant-collapse-expand-icon img{
  transform:rotate(180deg);
  transition: transform 0.3s;
}
.FAQ-global .ant-collapse .ant-collapse-item:last-child .ant-collapse-header{
  border-radius: 0;
}
.FAQ-global .ant-collapse .ant-collapse-item:first-child {
  border-top: 1px solid #999;
}
.FAQ-global .ant-collapse .ant-collapse-item{
  border-bottom: 1px solid #999;
}
.FAQ-global .ant-collapse .ant-collapse-content{
  border-top: 0
}
.swiper-slide{
  height: auto !important;
}
.swiper-pagination{
  bottom:25px !important;
}

@media (max-width: 1023px) {
  .FAQ-global .ant-collapse .ant-collapse-item .ant-collapse-header{
    font-size: 18px;
  }
  .FAQ-global .ant-collapse .ant-collapse-item .ant-collapse-content-box{
    font-size: 14px;
  }
}