.institutions-banner-container{
    background: #3fb2ff;
    background-image: url(/insititutions/bannerBg.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 400px) 100%;
}
.institutions-banner-center-container{
    max-width: var(--max-screen-width);
    margin: 0 auto;
    padding: 80px var(--global-padding);
    box-sizing: border-box;
    color: #181A20;
    height: 720px;
}
.institutions-banner-center-container>h2,.institutions-banner-center-container>p{
    max-width: 660px;
    letter-spacing: 0.4px;
}
.institutions-banner-center-container>h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 57.6px;
    margin:0 0 24px;
}
.institutions-banner-center-container>p{
    font-weight: 400;
    font-size: 32px;
    line-height: 38.4px;
    margin:0 0 40px;
}
.institutions-banner-btn{
    all: unset;
    display: block;
    width: 150px;
    height: 54px;
    border-radius: 60px;
    text-align: center;
    line-height: 54px;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}


.institutions-briefing-container{
    background: #fff;
}
.institutions-briefing-center-container{
    max-width: var(--max-screen-width);
    margin: 0 auto;
    padding: 80px ;
    box-sizing: border-box;
    color: #181A20;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.institutions-briefing-left-side-container{
    max-width: 624px;
    display: flex;
    gap: 56px 0;
    flex-direction: column;
    margin-right: 56px;
}
.institutions-briefing-right-side-container{
    max-width: 600px;
    flex-shrink: 0;
    border-radius: 24px;
    overflow: hidden;
}
.institutions-briefing-right-side-container img{
    display: block;
    width: 100%;
}
.institutions-briefing-item h3{
    margin: 0 0 16px;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
}
.institutions-briefing-item p{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
}


.insitutions-quicktakes-features-container{
    background: var(--student-bg-theme);
}
.insitutions-quicktakes-features-center-container{
    max-width: var(--max-screen-width);
    margin: 0 auto;
    padding: 64px 80px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.insitutions-quicktakes-features-center-container>h3{
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    margin: 0 0 16px;
    max-width: 1100px;
    text-align: center;
}
.insitutions-quicktakes-features-center-container>p{
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    margin: 0 0 40px;
    max-width: 1100px;
    text-align: center;
}
.insitutions-quicktakes-features-btn, .institutions-licensingAndSubscriptions-btn{
    all: unset;
    padding: 16px 32px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    line-height: 20.8px;
    color: #181a20;
    border-radius: 60px;
    margin-bottom: 40px;
    background: var(--student-button-theme);
    cursor: pointer;
}
.insitutions-quicktakes-features-btn:hover, 
.insitutions-quicktakes-features-btn:active, 
.insitutions-quicktakes-features-btn:active,
.institutions-licensingAndSubscriptions-btn:hover, 
.institutions-licensingAndSubscriptions-btn:active, 
.institutions-licensingAndSubscriptions-btn:active{
    background: var(--student-button-theme) !important;
    color: #181a20 !important;
    filter: brightness(1.1);
}
.features-container{
    display: flex;
    /* align-items: center; */
    gap: 16px;
    flex-wrap: wrap;
    width: 100%;
}
.features-item{
    padding: 40px 32px;
    box-sizing: border-box;
    border-radius: 24px;
    background: #fff;
    color: #181A20;
    max-width: calc((100% - 16px * 3)/4);
}
.features-item>div{
    width: 56px;
    height: 56px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}
.features-item>div>img{
    width: 100%;
}
.features-item>h4{
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
    margin:0 0 16px;
}
.features-item>p{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    margin:0;
}


.institutions-licensingAndSubscriptions-container{
    background: #fff;
}
.institutions-licensingAndSubscriptions-center-container{
    padding: 24px 80px 100px;
    box-sizing: border-box;
    max-width: var(--max-screen-width);
    margin: 0 auto;
    color: #181A20;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.institutions-licensingAndSubscriptions-center-container>h2{
    margin:0 0 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
}
.institutions-licensingAndSubscriptions-center-container>div{
    margin: 0 0 40px;
    font-size: 28px;
    line-height: 38.4px;
    text-align: center;
}
.institutions-licensingAndSubscriptions-center-container>div>p{
    margin:0
}
.institutions-licensingAndSubscriptions-btn{
    margin-bottom: 0;
}


.institutions-empower-container{
    background: var(--student-button-theme);
}
.institutions-empower-center-container{
    color: #181A20;
    box-sizing: border-box;
    padding: 56px 80px;
    max-width: var(--max-screen-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.institutions-empower-left-side-container{
    max-width: 800px;
}
.institutions-empower-left-side-container>h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin: 0 0 16px;
}
.institutions-empower-left-side-container>p{
    line-height: 38.4px;
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 40px;
}
.institutions-empower-right-side-container{
    max-width: 378px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.institutions-empower-right-side-container>img{
    width: 100%;
}


.institutions-testimonials-container{
    background: #fff;
}
.institutions-testimonials-center-container{
    color: #181A20;
    margin: 0 auto;
    box-sizing: border-box;
    padding:64px 80px;
    max-width: var(--max-screen-width);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.institutions-testimonials-center-container>h2{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    margin: 0 0 16px;
}
.institutions-testimonials-center-container>p{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    margin: 0 0 56px;
}

/* swiper */
.slide-item-content{
    border: 1px solid #999;
    border-radius: 24px;
    padding: 32px;
    box-sizing: border-box;
    height: 100%;
}
.slide-item-content>div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    background: #999;
}
.slide-item-content>div>img{
    width: 100%;
}
.slide-item-content>span{
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 21.6px;
}
.slide-item-content>p{
    font-size: 18px;
    line-height: 21.6px;
}
.slide-empty-box{
    padding: 40px;
}
.arrowLeft,.arrowRight{
    position: absolute;
    bottom: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transform: translateX(-50%);
    z-index: 11;
}
.slide-nav{
    width: 40px;
    height: 40px;
}
.arrowLeft{
    left: calc(50% - 24px - 80px)
}
.arrowRight{
    left: calc(50% + 24px + 80px)
}
/* .institutions-swiper-box{
    padding-bottom: 80px !important;
} */

@media (min-width: 1024px) and (max-width:1280px){
    .institutions-banner-container{
        background: #3fb2ff;
        background-image: url(/insititutions/bannerBg.png);
        background-repeat: no-repeat;
        background-position: calc(50% + 300px) 100%;
    }
}
@media (max-width: 1023px){
    .institutions-banner-container{
        background: #3fb2ff;
        background-image: url(/insititutions/bannerBg.png);
        background-repeat: no-repeat;
        background-position: calc(50% + 100px) 100%;
        background-size: contain;
    }
    .institutions-banner-center-container{
        height: 500px;
        padding:40px var(--global-padding);
    }
    .institutions-banner-center-container>h2{
        font-weight: 700;
        font-size: 32px;
        line-height: 38.4px;
        margin:0 0 16px;
    }
    .institutions-banner-center-container>p{
        font-weight: 400;
        font-size: 16px;
        line-height: 20.8px;
        margin:0 0 24px;
    }
    .institutions-banner-btn{
        width: 138px;
        height: 38px;
        line-height: 38px;
    }


    .institutions-briefing-center-container{
        padding: 40px var(--global-padding);
        flex-direction: column;
    }
    .institutions-briefing-left-side-container{
        gap: 32px 0;
        margin-bottom: 32px;
        margin-right: 0;
    }
    .institutions-briefing-item h3{
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
    }
    .institutions-briefing-item p{
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
    }


    .insitutions-quicktakes-features-center-container{
        padding: 40px var(--global-padding);
    }
    .insitutions-quicktakes-features-center-container>h3{
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
        margin: 0 0 16px;
        text-align: center;
    }
    .insitutions-quicktakes-features-center-container>p{
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        margin: 0 0 32px;
        text-align: center;
    }
    .features-item{
        max-width: 100%;
    }
    .features-item>h4{
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        margin:0 0 16px;
    }
    .features-item>p{
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
    }

    .institutions-licensingAndSubscriptions-center-container{
        padding: 16px var(--global-padding) 56px;
    }
    .institutions-licensingAndSubscriptions-center-container>h2{
        margin:0 0 20px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        text-align: center;
    }
    .institutions-licensingAndSubscriptions-center-container>div{
        margin: 0 0 24px;
        font-size: 16px;
        line-height: 20.8px;
        text-align: center;
    }

    .institutions-empower-center-container{
        padding: 40px var(--global-padding);
        flex-direction: column;
    }
    .institutions-empower-left-side-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
    }
    .institutions-empower-left-side-container, .institutions-empower-right-side-container{
        max-width: 100%;
    }
    .institutions-empower-left-side-container>h2{
        font-size: 24px;
        line-height: 28.8px;
        margin-bottom: 16px;
    }
    .institutions-empower-left-side-container>p{
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 20.8px;
    }

    .institutions-testimonials-center-container{
        padding: 40px var(--global-padding);
    }
    .institutions-testimonials-center-container>h2{
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
        margin: 0 0 16px;
    }
    .institutions-testimonials-center-container>p{
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        margin: 0 0 32px;
    }
}