.footer-container{
    background: var(--student-font-color);
    color: #fff;
    padding: 56px 0;
}
.footer-center-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 var(--header-footer-padding);
    box-sizing: border-box;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #484D5C;
    padding-bottom: 24px;
}
.footer-left{
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}
.footer-left img{
    margin-bottom: 24px;
}
.footer-left p{
    all: unset;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}
.footer-left .signup-button{
    all: unset;
    background: var(--student-button-theme);
    color: var(--student-font-color);
    border-radius: 60px;
    width: 174px;
    height: 53px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}
.footer-left .signup-button:hover{
    filter: brightness(1.09);
    color: var(--student-font-color) !important;
}


.footer-mid{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 24px;
}
.footer-mid>div{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.footer-mid>div:last-child{
    margin-right: 0;
}
.footer-mid h4{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 16px;
}
.footer-mid a{
    all: unset;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
}
.footer-mid a:hover{
    color: var(--student-button-theme);
}
.footer-mid>div>a:last-child{
    margin-bottom: 0;
}


.footer-right{
    display: flex;
    flex-direction: column;
}
.footer-right p{
    margin: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 22px;
}
.footer-right>div{
    display: flex;
    flex-direction: column;
}
.footer-right>div a{
    margin-bottom: 16px;
    cursor: pointer;
}
.footer-right>div a:last-child{
    margin-bottom: 0;
}

.footer{
    /* background: #202020; */
    color: rgb(235, 233, 233);
    font-size: 18px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer a{
    color: rgb(235, 233, 233);
    text-decoration: none;
}
.footer p{
    text-align: center;
    padding: 0 20px;
}
.contact{
    cursor: pointer;
}

/* contact-Modal */
.contact-form-container{
    padding-top: 30px;
}

.contact-form-container form div{
    margin-bottom: 20px;
    display: block;
    font-size: 18px;
    color: var(--student-font-color);
    font-weight: 500;
}

.custom-modal{
    max-width: 540px;
    margin: 0 20px;
}

.contact-form-container form input{
    height: 64px;
    border:1px solid #ECECEC ;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Inter';
    background: #fafafa;
    margin-bottom: 10px;
}

.contact-form-container form .send{
    background: var(--student-button-theme);
    color: #fff;
    width: 100%;
    border-radius: 80px;
    font-size: 25px;
    font-weight: 700;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form-container form .send:hover{
    background-color: var(--student-button-theme) !important;
}

.teachers.contact-form-container form .send{
    background: var(--teacher-button-theme);
}
.teachers.contact-form-container form .send:hover{
    background-color: var(--teacher-button-theme) !important;
}