.header{
    background: var(--student-bg-theme);
    color: #fff;
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 1px 1px 0px #484D5C;
}

.logo{
    width: 40px;
    height: 40px;
}

.menu{
    display: none;
}

.main-container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--header-footer-padding);
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

.logo-container{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-container p{
    margin: 0;
    margin-left: 15px;
    font-size: 20px;
    text-wrap: nowrap;
}

.menu-container{
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu-container a{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}
.menu-container a:hover, .menu-container a:active, .menu-container a:focus{
    color: var(--student-button-theme);
}
.menu-container a.active{
    color: var(--student-button-theme);
}

.menu-container *{
    margin-left: 32px;
    font-size: 16px;
    cursor: pointer;
    text-wrap: nowrap;
    font-style: normal;
}

.menu-container *:first-child{
    margin-left: 0;
}

.sign-up-button{
    --bg:var(--student-button-theme);
    all:unset;
    font-weight: 700;
    background: var(--bg);
    border-radius: 60px;
    text-align: center;
    color: var(--student-font-color);
    padding:10px 24px;
    font-size:16px;
    cursor: pointer;
    border:1px solid var(--bg);
}
.login-button{
    --bg:#fff;
    all:unset;
    font-weight: 700;
    border-radius: 60px;
    text-align: center;
    background: var(--bg);
    color: var(--student-font-color);
    padding:10px 24px;
    font-size:16px;
    cursor: pointer;
    margin-right: 24px;
    border:1px solid var(--bg);
}

.sign-up-button:hover,.login-button:hover{
    filter:brightness(1.09)
}

/* drawer */
.custom-drawer-body{
    background:var(--student-bg-theme);
    color: #fff;
    position: relative;
}
.custom-drawer-body_teachers{
    background:var(--teacher-bg-theme);
    color: #fff;
    position: relative;
}
.drawer-header{
    display: flex;
    justify-content: flex-end;
}

.drawer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}

.drawer-container *{
    margin-bottom: 40px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.drawer-container *:last-child{
    margin-bottom: 0;
}

/* contact-Modal */
.contact-form-container{
    padding-top: 30px;
}

.contact-form-container form div{
    margin-bottom: 20px;
    display: block;
    font-size: 18px;
    color: var(--student-font-color);
    font-weight: 500;
}

.custom-modal{
    max-width: 540px;
    margin: 0 20px;
}

.contact-form-container form input{
    height: 64px;
    border:1px solid #ECECEC ;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Inter';
    background: #fafafa;
    margin-bottom: 10px;
}

.contact-form-container form .send{
    background: var(--student-button-theme);
    color: #fff;
    width: 100%;
    border-radius: 80px;
    font-size: 25px;
    font-weight: 700;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form-container form .send:hover{
    background-color: var(--student-button-theme) !important;
}



/* dropdown */
.dropdown-container{
    background: transparent;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}
.dropdown-container ul, .dropdown-container li{
    padding: initial;
    margin: initial;
}
.dropdown-container ul{
    background: #fff;
}
.dropdown-container li{
    list-style: none;
    padding:8px 16px;
    font-size: 14px;
    box-shadow: 0px 0.5px 0px 0px #999;
}
.dropdown-container li a{
    color: var(--student-font-color);
}
.dropdown-container li:last-child{
    box-shadow: unset;
}
.dropdown-container li:hover{
    background: var(--student-button-theme);
    cursor: pointer;
}
.dropdown-container li.active{
    background: var(--student-button-theme);
}



/* responsive */
@media (max-width: 1023px){
    .main-container{
        padding: 0 20px;
    }
    .menu-container{
        display: none;
    }
    .signup-login-container{
        display: none;
    }
    .menu{
        display: block;
    }
}