.sign-up-now {
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 241, 234, 1),
    rgba(255, 241, 234, 1)
  );
}
.content {
  display: flex;
  align-items: center;
  padding: 60px var(--global-padding);
}
.inner-link {
  flex: 1;
}

.inner-link .title p {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

.sign-up-button {
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
  border: 5px solid rgba(240, 239, 238, 1);
  border-radius: 12px;
  width: 180px;
  height: 58px;
  margin-top: 20px;
}
.sign-up-button button {
  width: 100%;
  height: 58px;
  background-color: var(--student-button-theme);
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: none;
}
.sign-up-button button:hover,
.sign-up-button button:active {
  background-color: #e26b38;
  border: none;
  color: #ffffff !important;
}
.download-title, .inner-hint {
  margin-top: 20px;
  font-size: 16px;
}
.download-title span, .inner-hint span {
  font-weight: bold;
}
.inner-hint{
  margin-top: 50px;
}
.download-links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.download-links > a {
  width: 154px;
  height: 44px;
}
a.ios {
  background: url("../public/appStore.svg") no-repeat;
  background-size: 154px 44px;
}
a.aos {
  background: url("../public/googlePlay.svg") no-repeat;
  background-size: 154px 44px;
}
.sign-up-now-image {
  width: 350px;
  height: 350px;
  border-radius: 40px;
}

.inner-image {
  display: none;
  width: 250px;
  height: 250px;
  border-radius: 40px;
  margin-top: 30px;
}

/* ipad */
@media (min-width: 481px) and (max-width: 768px) {
  .content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .sign-up-now-image {
    display: none;
  }
  .inner-link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inner-image {
    display: block;
  }
  .inner-link .title {
    text-align: center;
  }
  .inner-link .title p{
    font-size: 40px;
  }
}

/* mobile */
@media (max-width: 480px) {
  .content {
    display: block;
    padding: 40px 40px;
  }
  .sign-up-now-image {
    display: none;
  }
  .inner-link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inner-image {
    display: block;
    width: 100%;
    height: auto;
  }
  .inner-link .title {
    text-align: center;
  }
  .sign-up-button {
    width: 100%;
  }
  .inner-link .title p{
    font-size: 40px;
  }
}
